/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
#ornament {
    padding: 0;
    margin: 0;
}
#editor {
    margin-top: 5%;
    line-height: 125%;
    width: 100%;
    font-size: 20px;
    font-family: "Courier";
    max-height: 80%;
    overflow: scroll;
}
#ed {
    float: right;
    width: 96%;
    font-family: "Courier New";
    font-size: 20px;
    padding: 0;
    margin: 0;
    max-height: 22px;
    line-height: 120%;
}
#TF {
    float: left;
    width: 60%;
    margin-left: 5%;
}
.left{
    border-right: solid; 
    border-width: 1px; 
    width: 15%;
    float: left;
    height: 100%;
    padding: 1%;
}
#intro {
    font-family: "Courier New";
    }
#brand {
    font-size: 24px;
    text-align: center;
}
body {
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-style: bold;
    overflow: hidden;
}
textarea:focus {
    outline: none;
}
textarea {
    border: 0;
    resize: none;
}
